[Units]
Description=https://github.com/dyrnade/elk

Requires=etcd.service
Requires=docker.service
After=etcd.service
After=docker.service

[Service]
Restart=always
ExecStartPre=/usr/bin/docker pull elk

ExecStart=/usr/bin/bash -c "journalctl -o short -f | ncat --udp localhost 5000"

[X-Fleet]
#MachineMetadata=machineof=log
#MachineMetadata=disk=ssd

